body{
    font-family: sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    color: rgb(214, 167, 167);
    background-color: #f4f4f4;
}
button:hover{
    background-color: rgb(246, 168, 109);
    color: white;
    cursor: pointer;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(0, 0, 0);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color:rgb(246, 168, 109);
}

#inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(33, 32, 32, 0.5)
    )
    ,url("../img/background.jpg");

    background-size: cover;
    background-position: center center;
}

#inicio h1{
    color: rgb(255, 255, 255);
}

#inicio button{
    font-size: 1.75em;
}

#somos_unibot.container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #inicio h1{
        font-size: 5em;
    }

    #somos_unibot .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos_unibot .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos_unibot h2{
        margin-top: 0px;
    }

    #somos_unibot .img-container{
        background-image: url("../img/logo.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #caracteristicas .container{
         display: flex;
        justify-content: space-evenly;
    }
    #caracteristicas .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #caracteristicas h2{
        margin-top: 0px;
    }
    #caracteristicas .img-container{
        background-image: url("../img/atencion.webp");
        background-size: contain;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }
}